

button {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

#input{
  font-size: larger;
  width: 200px;
  padding: 20px;
}

.parent-div{
  margin-top: 100px ;
  display: flex;
  justify-content: center;

}

.cal-body{
  border: 2px solid black;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
}

#p{
  color: red;
}